@page
@model JPWeb.UI.Pages.Printers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Printer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Printer.Id" />
            <div class="form-group">
                <label asp-for="Printer.Name" class="control-label"></label>
                <input asp-for="Printer.Name" class="form-control" />
                <span asp-validation-for="Printer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Printer.StatusId" class="control-label"></label>
                <select asp-for="Printer.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Printer.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Printer.ColorId" class="control-label"></label>
                <select asp-for="Printer.ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="Printer.ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <a class="btn btn-primary" asp-page="./Index">Return to List</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
