@page
@model JPWeb.UI.Pages.Messages.testPageModel
@{
    ViewData["Title"] = "testPage";
}

<h3>testpage</h3>
    </a>
    <li><a asp-page="/Messages/Index">See Messages</a></li>



<h4>Requests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Requests.ApplicationUserId" class="control-label"></label>
                <input asp-for="Requests.ApplicationUserId" class="form-control" />
                <span asp-validation-for="Requests.ApplicationUserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Messages.MessageTitle" class="control-label"></label>
                <input asp-for="Messages.MessageTitle" class="form-control" />
                <span asp-validation-for="Messages.MessageTitle" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>