@page
@model JPWeb.UI.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "Make A Request";
}
@using JPWeb.UI.Utilities

<h2>Make A Request</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Requests.StatusId" />
            <div class="form-group">
                <label asp-for="Requests.ProjectName" class="control-label"></label>
                <input asp-for="Requests.ProjectName" class="form-control" />
                <span asp-validation-for="Requests.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.PrinterId" class="control-label"></label>
                <select asp-for="Requests.PrinterId" class="form-control" asp-items="ViewBag.PrinterId"></select>
                <span asp-validation-for="Requests.PrinterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectFile" class="control-label"></label>
                <input type="file" accept=".stl" name="ProjectFile" class="form-control" style="height:auto" />
                <span asp-validation-for="ProjectFile" class="text-danger"></span>
                <h4>*stl files only</h4>
            </div>
            <div class="form-group">
                <label asp-for="Requests.DateRequested" class="control-label"></label>
                <input asp-for="Requests.DateRequested" class="form-control" />
                <span asp-validation-for="Requests.DateRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.ProjectDescript" class="control-label"></label>
                <textarea asp-for="Requests.ProjectDescript" class="form-control" style="height: 100px"></textarea>
                <span asp-validation-for="Requests.ProjectDescript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.PersonalUse"></label>
                @Html.CheckBoxFor(c => Model.Requests.PersonalUse)
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-page="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
