@page
@model JPWeb.UI.Pages.Requests.EditModel

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit</h2>

<h4>Requests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Requests.Id" />
            <input type="hidden" asp-for="Requests.ApplicationUserId" />

            <div class="form-group">
                <label asp-for="Requests.ProjectName" class="control-label"></label>
                <input asp-for="Requests.ProjectName" class="form-control" />
                <span asp-validation-for="Requests.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.ProjectFilePath" class="control-label"></label>
                <input asp-for="Requests.ProjectFilePath" class="form-control" />
                <span asp-validation-for="Requests.ProjectFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.DateRequested" class="control-label"></label>
                <input asp-for="Requests.DateRequested" class="form-control" />
                <span asp-validation-for="Requests.DateRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.ProjectDescript" class="control-label"></label>
                <textarea asp-for="Requests.ProjectDescript" class="form-control" style="height: 100px"></textarea>
                <span asp-validation-for="Requests.ProjectDescript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-page="./Index">Back to List</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
