@page
@model JPWeb.UI.Pages.DeniedRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Request.Id" />
            @Html.HiddenFor(x => x.Request.ApplicationUserId)
            <input type="hidden" asp-for="Request.ProjectFilePath" />

            @{
                /*
                <div class="form-group">
                    <label asp-for="Request.ProjectFilePath" class="control-label"></label>
                    <input asp-for="Request.ProjectFilePath" class="form-control" />
                    @*<span asp-validation-for="Request.ProjectFilePath" class="text-danger"></span>*@
                </div>
                */
            }
            <div class="form-group">
                <label asp-for="Request.PrinterId" class="control-label"></label>
                <select asp-for="Request.PrinterId" class="form-control" asp-items="ViewBag.PrinterId"></select>
                <span asp-validation-for="Request.PrinterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.StatusId" class="control-label"></label>
                <select asp-for="Request.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Request.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ProjectName" class="control-label"></label>
                <input asp-for="Request.ProjectName" class="form-control" />
                <span asp-validation-for="Request.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.DateRequested" class="control-label"></label>
                <input asp-for="Request.DateRequested" class="form-control" />
                <span asp-validation-for="Request.DateRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ProjectDescript" class="control-label"></label>
                <textarea asp-for="Request.ProjectDescript" class="form-control" style="height: 100px"></textarea>
                <span asp-validation-for="Request.ProjectDescript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-page="./Index">Return to List</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
